# ===============================
#  Database Configuration (PostgreSQL)
# ===============================
DB_URL=jdbc:postgresql://localhost:5432/bankingapi
DB_USERNAME=yourusername
DB_PASSWORD=yourpassword


SPRING_PROFILES_ACTIVE=dev
